//
/* App Base Layout */
//

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}

body {
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}

button {
  cursor: pointer !important;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: $lightorange;
}

a:hover {
  color: $orange;
  text-decoration: underline !important;
}

#root {
  height: 100%;
}

#footer {
  position:fixed;
  padding: 10px 0 0 0;
  bottom:0px;
  height:100px;
  width:100%;
  background:#FFF;

  span {
    color: $lightorange;
  }
}

html,
body,
#main-wrapper {
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-family: $noto;
  background: $orange;
}

.content {
  height: 100%;
  margin: -100px 0 0 0;
}

.content-signin {
  height: 100%;
  margin: 0 0 0 0;
}

.fullheight {
  min-height: 100%;
}

input.form-control {
  box-shadow: 0 0 3px $light4 inset;
  background: $light1;
}
