//
/* App Dashboard Layout */
//

.dashboard {
  color: #FFFFFF;

  &.start {
    align-items: center;

    button {
      margin-top: 5px;
      background-color: #FFFFFF;
      color: #FF9900;

      &:hover {
        background-color: #ffcc99;
        color: #FFFFFF;
      }
    }
  }

  a {
    &:hover {
      color: #FFFFFF;
    }
    &:visited {
      color: $lightorange;

      &:hover {
        color: #FFFFFF;
      }
    }
  }

  .search {
    font-size: .75em !important;
    font-weight: normal !important;
  }

  .add-panel {
    border: 1px solid $lightorange;
    padding: 10px;
    background-color: $orange;
  }

  .package {
    margin: 5px;
    padding: 5px;
    border: 1px solid $lightorange;
  }
}

.dashboard-container {
  padding-bottom: 100px;
}


