//
/* App Dashboard Layout */
//

.dashboard {
  background: #FF9966;
  margin-bottom: 20px;
  padding: 0 0 20px 0;

  button {
    width: 25%;
    margin-top: 5px;
    background-color: #FFFFFF;
    color: #FF9900;
  }
}

.dashboard-container {
  padding: 10px;

  h2 {
    color: #FFFFFF;
  }
}
