//
/* App Header Styles */
//

.header {
  padding: 20px 10px 10px 10px;
  background-color: #FFFFFF;
  z-index: 1000;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      float: right;

      a {
        display: block;
        text-align: center;
        padding: 4px 6px;
        text-decoration: none;
      }
    }
  }
}
