@media screen and (max-width: 46.99em) {
  table {
    padding: 0;
    margin: 0;
    font-size: .75em;
  }

  .dashboard {
    /*div[class*="col-"], div[class*=" col-"] {*/
      /*padding: 0;*/
      /*margin: 0;*/
    /*}*/
  }

  .dashboard-col {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }

  .search {
    font-size: .5em !important;
  }
}

// Large devices (desktops, 62em and up)
@media screen and (min-width: 62.01em) and (max-width: 74.99em) {
  .package-row {
    &:hover {
      background-color: $lightorange !important;
    }
  }
}

// Extra large devices (large desktops, 75em and up)
@media screen and (min-width: 68em) {
  .package-row {
    &:hover {
      background-color: $lightorange !important;
    }
  }
}
