//
/* App Dashboard Layout */
//

.dashboard {
  button.start {
    width: 25%;
    margin-top: 5px;
    background-color: #FFFFFF;
    color: #FF9900;

    &:hover {
      background-color: #ffcc99;
      color: #FFFFFF;
    }
  }
}

.dashboard-container {
  padding: 10px;

  h2 {
    color: #FFFFFF;
  }
}

.add-panel {
  margin: 0 0 0 0;
  height: 75%;
  border: 1px solid $lightorange;
  padding: 10px;
  background-color: $orange;
  overflow: auto;

  a {
    &:hover {
      color: #FFFFFF;
    }
    &:visited {
      color: $lightorange;

      &:hover {
        color: #FFFFFF;
      }
    }
  }
}
