@media screen and (max-width: 46.99em) {
  table {
    padding: 0;
    margin: 0;
    font-size: .75em;
  }

  td {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  .dashboard {
    /*div[class*="col-"], div[class*=" col-"] {*/
      /*padding: 0;*/
      /*margin: 0;*/
    /*}*/
  }

  .dashboard-col {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }

  .search {
    font-size: .5em !important;
  }
}
