// Variables
//
// Copy settings from this file into the provided `_custom.scss` to override
// the Bootstrap defaults without modifying key, versioned files.

$blue3: #2594cd;
$blue2: #3D84A8;
$blue1: #d1edfb;

$green3: #abde82;
$green2: #46CDCF;
$green1: #ABEDD8;

$yellow: #cdb725;
$red: #cd2560;
$orange: #FF9900;
$lightorange: #FFCD28;

$dark2: #3D3B49;
$dark1: #484562;

$light4: #a9a8be;
$light3: #b4c1d4;
$light2: #dbe7e3;

$light1: #F6F6FA;

$noto: 'Noto Sans', sans-serif;
